{% extends "base.html" %}

{% block scripts %}
<script>
    
</script>
{% endblock %}

{% block content %}
<div class="main flex column">
    <h2>Thank you for completing the study!</h2>
    <p>The purpose of this study was to examine social learning. We aimed to model social learning through this experiment, asking how long it would take a chain of participants to accurately guess the values of each mushroom, without ever having been explicitly told those values.</p>
    <br>
    <p>Your compensation will be processed through CloudResearch. Please save and enter "CG1QT2T0" as your confirmation code so you may receive compensation for your participation in this study. You may now close the tab</p>
   <!--<p><b>{{ player.identifier }}</b></p> --> 
</div>
{% endblock %}

<!--target="_blank"-->